body {
    margin: 2%;
    border: 1px solid black;
    background-color: #b3b3b3;
}

#image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 550px;
    border: 5px solid black;
    margin: 0 auto;
    background-color: #8e68ff;
    background-image: url('');
    color: #FFFFFF;
    text-align: center;
    background-size: 100%;
    margin-bottom: 35px;
    font-size: 2rem;
}

.preview {
    width: 10%;
    margin-left: 17%;
    border: 10px solid black;
}

img {
    width: 95%;
}